.login
  display table
  margin 0 auto
  padding 0
  height 90%
  max-width 300px

  .avatar
    background url(img/icon.png)
    background-size contain
    width 128px
    height 128px
    display inline-block

  .login-form
    max-width 300px
    display table-cell
    vertical-align middle
    text-align center
    color #a5acae
    .btn
      min-width 209px
    .input-icon
      margin-top 3px
