html
  width 100%
  height 100%
  margin 0
  overflow hidden
  background-color #242628
  font-family 'Open Sans', sans-serif
  font-weight 300

body
  width 98%
  height 98%
  margin 1%
  -webkit-app-region drag

button
  border none
  padding 0
  margin 0

*
  outline none
  -webkit-touch-callout none
  -webkit-user-select none

.app
  width 100%
  height 100%
